.column {
  float: left;
  width: 180px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  margin-right: 10px;
  padding: 10px;
}

.column-header {
  font-weight: bold;
  text-align: center;
}

.draggable {
  margin: 5px;
  padding: 5px;
  background-color: #ddd;
  cursor: move;
}

.draggable:hover {
  background-color: #ccc;
}

.highlight {
  background-color: #ffff99;
}
