body,
html {
	color: black;
	margin: 10px; /* Reset default margin */
}

#classInput {
	width: 100%;
}

tr,
th,
td {
	border: 1px solid rgb(160 160 160);
}

#results table {
	float: left;
	table-layout: fixed;
	user-select: none;
}

#results table {
	width: 50%;
	height: 150px;
}

#results td {
	width: 50%;
	text-align: center;
}

#results .uncounted {
	width: 100%;
}

.dragover {
	background-color: aquamarine;
}

.dragging {
	opacity: 0.5;
}
